

.view_info_title{
    padding: 50px;
}

.info_currency{
    display: flex;
}

.info_currency_details{
    margin-right: 253px;
}

.info_currency_details img{
    padding: 5px;
}

.view_full_trans{
    display: flex;
    p{
        margin-top: 20px;
    }
}

.full_trans_title{
    text-align: left;
   
}

.full_trans_file{
    text-align: right;
    margin-left: 100px;
}

.all_trans_details{
    width: 500px;
    height: 360px;
    text-align: center;
    padding-left: 100px;
    h2{
        color: #173E6F;
    }
}

