

.view_info_title{
    padding: 50px;
}

.info_currency{
    display: flex;
}

.info_currency_details{
    margin-right: 253px;
    display: flex;
    align-items: center;
}

.info_currency_details img{
    padding: 5px;
}

.view_full_details {
    margin-top:20px ;
    display: flex;
}

.view_full_details span{
    margin-left: 150px;
    float: right;
}

.all_trans_details{
    width: 500px;
    height: 360px;
    text-align: center;
    padding-left: 100px;
}