.card {
    display: flex;
    flex-direction: column;
    /* max-width: 25%; */
    padding: 20px;
    background: #1c4170;
    border-radius: 12.2903px;
}

.card p {
    margin-left: 0;
}

.card-title {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}

.card-title > img {
    margin-right: 7px;
}

.card-title > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}

.card-price {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

#card-price-currency {
    display: flex;
    flex-direction: row;
}

#card-price-currency > span {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #ffffff;
    margin-bottom: 5px;
}

#card-price-currency > span:last-child {
    font-family: sqMarketMedium;
    margin-left: 16px;
}

.card-price .card-rate {
    display: flex;
}

.card-price .card-rate img {
    margin-right: 5px;
}

.card-price > .card-rate > p {
    font-family: sqMarketMedium;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #34e36f;
}

.card-price > .card-rate > .change-type-negative {
    color: #F34018;
}

.card-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-date > p {
    /* font-family: 'SQ Market'; */
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #84a8d3;
}

.card-track {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eaac0c;
}

.card-track > p {
    /* font-family: 'SQ Market'; */
    font-weight: 400;
    font-size: 17.0176px;
    line-height: 21px;
}

.card-track .track-icon {
    margin-left: 3px;
    height: 12px;
}
