@use "../../assets/sass/index" as *;
.header {
  @include mq(1100px) {
    padding: 35px 50px;
  }
  @include mq(900px) {
    flex-direction: column;
  }

  .header-form {
    width: 27%;

    @include mq(1100px) {
      width: 35%;
    }
    @include mq(900px) {
      margin-top: 20px;
      width: 100%;
    }
    .convBox {
      background: #ffffff;
      border-radius: 20px;
      z-index: 2;
      padding: 26px 36px;
      width: 100%;

      .title {
        font-family: sqMarketBold;
        font-size: 18px;
        line-height: 21px;
        color: #173963;
        margin-bottom: 16px;
      }
      .changeBox {
        position: relative;
        .conv {
          position: absolute;
          width: 33px;
          height: 33px;
          border-radius: 50%;
          top: 40%;
          left: 45%;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #eaac0c;
        }
        .top {
          border: 0.7px solid #c4c4c4;
          box-sizing: border-box;
          border-radius: 0px 0px 10px 10px;
          padding: 17px 23px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &.hard {
            border: 0.7px solid #173963;
            border-radius: 10px 10px 0px 0px;
          }
          .right {
            //   background: #f5faff;
            //   border-radius: 6.55855px;
            //   padding: 13px 9.8px;
            //   width: 110px;
          }
          .left {
            .changeText {
              font-weight: 300;
              font-size: 13.3331px;
              line-height: 16px;
              margin-bottom: 10px;
              color: #656565;
            }
            .number {
              font-weight: 600;
              font-size: 22.3331px;
              line-height: 27px;
              color: #b3b3b3;
            }
          }
        }
      }
      .pro {
        width: 100%;
        margin-top: 21px;
        .eachPro {
          display: flex;
          width: 100%;
          margin-bottom: 12px;
          align-items: center;
          justify-content: space-between;
          .left,
          .right {
            display: flex;
            align-items: center;
            img {
              margin-right: 3px;
            }
            p {
              font-style: normal;
              font-weight: 400;
              font-size: 10.043px;
              line-height: 12px;

              color: #5c5c5c;
            }
          }
          .right {
            p {
              font-weight: 600;
              font-size: 10.5748px;
              line-height: 13px;
              text-align: right;

              color: #000000;
              &.blue {
                color: #0d458a;
              }
            }
          }
        }
      }
    }
  }
}
