@use "../../assets/sass/index" as *;

.pd_sidebar {
  display: flex;
  flex-direction: column;
  padding: 43px 23px;
  background: #f9fbff;
  width: 237px;
  position: sticky;
  top: 0;
  min-height: 100vh;
  .open_up {
    margin-bottom: 57px;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-left: 30px;
    img {
      margin-right: 3px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .link_side {
    width: 100%;
    display: flex;
    flex-direction: column;
    .item {
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: 16px 22px;
      border-radius: 10px;
      margin-bottom: 22px;
      .iconSide {
        path {
          fill: #525252;
        }
      }
      p {
        margin-left: 22px;
        font-weight: 400;
        font-size: 13.3893px;
        line-height: 16px;
        color: #525252;
      }
      &.active {
        background: #ffffff;
        border: 0.5px solid #deedff;
        box-shadow: 0px 20px 20px #edf5ff;
        border-left: 1px solid #eaac0c;
        .icon_side {
          path {
            fill: #eaac0c;
          }
        }
        p {
          font-weight: 600;
          font-size: 13.3893px;
          line-height: 16px;

          color: #173e6f;
        }
      }
    }
  }
}
