.created_card img{
    position: absolute;
    top: 0;
    left: 0;
}   

.created_card_items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;
    text-align: center;
}

.created_card_items span{
    color: #3AA64C;
    font-weight: bold;
    margin-bottom: 14px
}

.cardcreated_btn{
    color: #173E6F !important;
    font-weight: bold;
    cursor: pointer;
}

.cardcreated_btn span{
    margin-top: 20px;
}