@use "assets/sass/index" as *;
.pd_navbar_dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 43px;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(4px);

  .page_title {
    font-weight: 600;
    font-size: 17.3893px;
    line-height: 21px;

    color: #000000;
    display: flex;
    .open_up {
      margin-bottom: 0;
      margin-right: 5px;
      padding-left: 0;
    }
  }
 .right {
    @include right_nav;
   
  }
}

