// flex mixin
@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@mixin webkit2 {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #f0f2f3;
    background: #c4c4c4;
    border-radius: 30px;
  }

  &::-webkit-scrollbar {
    height: 0px;
    width: 4px;
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: white;
  }
}

@mixin mq($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}
@mixin modalLay {
  background: #ffffff;
  border-radius: 11px;
  padding: 1.5rem 30px;
  margin: auto;
  max-height: 90vh;
  overflow-y: auto;
  @include webkit3;
}
// webkit scrollbar mixins
@mixin webkit {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #f0f2f3;
  }

  &::-webkit-scrollbar {
    height: 0px;
    width: 4px;
    background: #eee;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #eee;
  }
}

@mixin webkit3 {
  &::-webkit-scrollbar {
    height: 0px;
    width: 10px;
    // background: #eee;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;

    // background: #eee;
    background: #e5e5e5;
    border-radius: 100px;
    min-height: 40px;
  }
}
@mixin webkit4 {
  &::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    // background: #eee;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;

    // background: #eee;
    background: #e5e5e5;
    border-radius: 100px;
    min-height: 40px;
  }
}

@mixin label {
  color: #0d458a !important;
  margin-bottom: 8px;
  font-weight: 500;
  @include flex($justify: space-between);
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}
@mixin center_container {
  width: 40%;
  margin: auto;
  margin-top: 100px;
  @include mq(968px) {
    width: 60%;
  }
  @include mq(568px) {
    width: 80%;
  }
}
@mixin check {
  display: flex;
  margin: 20px 0px;
  align-items: center;

  .css-1sg8fd1-MuiButtonBase-root-MuiCheckbox-root {
    padding: 0;
  }
  .css-1sg8fd1-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
  .css-1sg8fd1-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: #eaac0c;
  }
  .css-1sg8fd1-MuiButtonBase-root-MuiCheckbox-root {
    color: #eaac0c;
  }
  p {
    font-weight: 300;
    font-size: 9.63183px;
    line-height: 12px;
    text-align: center;
    margin-left: 5px;
    a {
      text-decoration: none;
      color: $primary;
      font-weight: 600;
    }
  }
}
@mixin white_box {
  background: #ffffff;
  border: 0.518739px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 17.4982px 17.4982px rgba(243, 243, 243, 0.4);
  border-radius: 15.7484px;
  margin-top: 37px;
  padding: 31px 40px;
  width: 80%;
  @include mq(768px) {
    width: 100%;
  }
}
@mixin set_card {
  position: relative;
  width: 100%;
  padding-bottom: 30px;
}
@mixin main_aspect {
  width: 30%;
  margin: auto;
  margin-top: 50px;
  @include mq(768px) {
    width: 60%;
  }
  @include mq(668px) {
    width: 80%;
  }
  @include mq(468px) {
    width: 90%;
  }
}

@mixin right_nav {
  display: flex;
  align-items: center;
  .toggleSide {
    display: flex;

    .togDiv {
      margin: 0 6px;
      .switch {
        position: relative;
        width: 40px;
        height: 21.05px;
        float: left;

        input {
          opacity: 0;
          width: 0;
          height: 0;
        }
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #edf5ff;
          border: 2px solid #b7d7ff;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          &:before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: 4px;
            top: 8%;
            bottom: 4px;
            background-color: #eaac0c;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }
          /* Rounded sliders */
          &.round {
            border-radius: 34px;
          }

          &.round:before {
            border-radius: 50%;
          }
        }
        input:checked + .slider {
          // background-color: #2196F3;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #ffffff;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(13px);
          -ms-transform: translateX(13px);
          transform: translateX(13px);
        }
      }
    }
  }
  .cover_drop {
    margin: 0 22px 0 57px;
    .css-toezm8-MuiButtonBase-root-MuiButton-root {
      background: #f5faff;
      border: 1px solid #deedff;
      padding: 7px;
      box-sizing: border-box;
      box-shadow: 0px 10px 30px rgba(23, 57, 99, 0.1);
      border-radius: 15px;
    }
    .name_action {
      font-weight: 400;
      font-size: 12.3893px;
      line-height: 15px;
      text-transform: capitalize;
      color: #173963;
      margin-right: 30px;
    }
  }
  .notification {
    display: flex;
    outline: none;
    border: none;
    background: linear-gradient(136.67deg, #eaac0c 8.34%, #f34018 95.26%);
    mix-blend-mode: normal;
    opacity: 0.8;
    box-shadow: 0px 5px 34px rgba(186, 19, 88, 0.42);
    border-radius: 14px;
    padding: 8.58px 14.39px;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    justify-content: center;
    color: #ffffff;
    img {
      margin-right: 4px;
    }
  }
}

@mixin cut_text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.4em;
  max-height: 2 * 1.2rem;
}

@mixin drop_down {
  background: #ffffff;
  border: 0.7px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 6px;

  margin-top: -5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 329px;
  width: 100%;
  z-index: 5;
  padding: 26px 22px;
  padding-top: 31px;
  position: absolute;
  display: none;
  &.show {
    display: block;
  }
  p.empty {
    margin: 0;
    color: #f34018;
  }
  .overflow {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    @include webkit3;
  }
  .own_country,
  .all_country {
    width: 100%;
    .title {
      font-weight: 400;
      font-size: 7.43423px;
      line-height: 9px;
      margin: 0;
      color: #000000;
      margin-bottom: 13px;
    }
  }
}
