// flex mixin
@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@mixin webkit2 {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #f0f2f3;
    background: #c4c4c4;
    border-radius: 30px;
  }

  &::-webkit-scrollbar {
    height: 0px;
    width: 4px;
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: white;
  }
}

@mixin mq($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}
@mixin modalLay {
  background: #ffffff;
  border-radius: 11px;
  padding: 1.5rem 30px;
  margin: auto;
  max-height: 90vh;
  overflow-y: auto;
  @include webkit3;
}
// webkit scrollbar mixins
@mixin webkit {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #f0f2f3;
  }

  &::-webkit-scrollbar {
    height: 0px;
    width: 4px;
    background: #eee;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #eee;
  }
}

@mixin webkit3 {
  &::-webkit-scrollbar {
    height: 0px;
    width: 10px;
    // background: #eee;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;

    // background: #eee;
    background: #e5e5e5;
    border-radius: 100px;
    min-height: 40px;
  }
}
@mixin webkit4 {
  &::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    // background: #eee;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;

    // background: #eee;
    background: #e5e5e5;
    border-radius: 100px;
    min-height: 40px;
  }
}

@mixin label {
  color: #0d458a !important;
  margin-bottom: 8px;
  font-weight: 500;
  @include flex($justify: space-between);
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}
@mixin center_container {
  width: 40%;
  margin: auto;
  margin-top: 100px;
  @include mq(968px) {
    width: 60%;
  }
  @include mq(568px) {
    width: 80%;
  }
}
@mixin cut_text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.4em;
  max-height: 2 * 1.2rem;
}

@mixin drop_down {
  background: #ffffff;
  border: 0.7px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 6px;

  margin-top: -5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 329px;
  width: 100%;
  z-index: 5;
  padding: 26px 22px;
  padding-top: 31px;
  position: absolute;
  display: none;
  &.show {
    display: block;
  }
  p.empty {
    margin: 0;
    color: #f34018;
  }
  .overflow {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    @include webkit3;
  }
  .own_country,
  .all_country {
    width: 100%;
    .title {
      font-weight: 400;
      font-size: 7.43423px;
      line-height: 9px;
      margin: 0;
      color: #000000;
      margin-bottom: 13px;
    }
  }
}
